*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    background-color: #43697b;
  }